<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="zpi.interfejs"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
        <activity android:name=".Interfejs_2Activity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	<activity android:name=".WydarzeniaSzczegoly"
			android:windowSoftInputMode="stateVisible|adjustResize">
			
			</activity>
			<activity android:name=".WyborTrybuny"
			android:windowSoftInputMode="stateVisible|adjustResize">
			
			</activity>
			
			<activity android:name=".WyborSektora"
			android:windowSoftInputMode="stateVisible|adjustResize">
			
			</activity>
			
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>